# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
.vscode/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.idea/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.local
.env

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
